body {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

form {
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.log-sign-txt p {
    color: white;
    text-align: center;
    font-size: 32pt;
}

.grey-txt {
    color: #7F7F7F;
}

.options {
    display: flex;
    color: white;
    width: 650px;
    justify-content: space-between;
    margin-top: 45px;
}

.options p {
    font-size: 24pt;
    margin-left: 35px;
    margin-right: 35px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputs {
    width: 100%;
    display: flex;
    justify-content: center;
}

.user-input {
    margin-bottom: 10px;
    margin-top: 15px;
}

.error-msg {
    color: red;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    font-size: 20pt;
}

.log-sign-txt p a {
    transition: 0.25s;
}

.log-sign-txt p a:hover {
    color: #C5C5C5;
}

@media (max-width: 650px) {
    .options {
        flex-direction: column;
        width: 100vw;
    }

    .options p {
        text-align: center;
    }

    .options .primary-btn {
        margin: auto;
    }

    .options .google-cont {
        margin: auto;
    }

    .input-field {
        width: 95vw;
        height: 70px;
    }

    .input-input input {
        font-size: 20pt;
    }

    .user-input {
        margin-top: 0px;
    }

    .log-sign-txt p {
        font-size: 28pt;
    }

    .options {
        margin-top: 15px;
    }
}