main {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

form {
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.log-sign-txt {
    color: white;
    text-align: center;
    font-size: 32pt;
}

.grey-txt {
    color: #7F7F7F;
}

.buttons {
    display: flex;
    color: white;
    width: 650px;
    justify-content: space-between;
    margin-top: 45px;
}

.buttons p {
    font-size: 24pt;
    margin-left: 35px;
    margin-right: 35px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputs {
    width: 100%;
    display: flex;
    justify-content: center;
}

.user-input {
    margin-bottom: 10px;
    margin-top: 15px;
}

.error-msg {
    color: red;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    font-size: 20pt;
}

.log-sign-txt a {
    transition: 0.25s;
}

.log-sign-txt a:hover {
    color: #C5C5C5;
}

.pwd-conf-input {
    margin-top: 10px;
}

.continue-with-google {
    background-color: #1F1F21;
    border: 1px solid white;
    width: 260px;
    height: 60px;
    display: flex;
    color: white;
    border-radius: 20px;
    transition: 0.25s;
}

.continue-with-google-img {
    display: flex;
    justify-content: center;
    flex-direction: column;
    aspect-ratio: 1 / 1;
    height: 100%;
    margin-left: 5px;
}

.continue-with-google img {
    height: 75%;
    width: 75%;
}

.continue-with-google .continue-with-google-txt {
    font-size: 16pt;
    margin: 0;
    width: calc(100% - 65px);
    text-align: left;
}

.continue-with-google:hover {
    background-color: #151516;
    cursor: pointer;
}

@media (max-width: 650px) {
    .buttons {
        flex-direction: column;
        width: 100vw;
    }

    .buttons p {
        text-align: center;
    }

    .buttons .primary-btn {
        margin: auto;
    }

    .buttons .continue-with-google {
        margin: auto;
    }

    .input-field {
        width: 95vw;
        height: 70px;
    }

    .input-input input {
        font-size: 20pt;
    }

    .user-input {
        margin-top: 0px;
    }

    .buttons {
        margin-top: 15px;
    }
}
