body {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

form {
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.log-sign-txt p {
    color: white;
    text-align: center;
    font-size: 32pt;
}

.grey-txt {
    color: #7F7F7F;
}

.options {
    display: flex;
    color: white;
    width: 650px;
    justify-content: space-between;
    margin-top: 45px;
}

.options p {
    font-size: 24pt;
    margin-left: 35px;
    margin-right: 35px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputs {
    width: 100%;
    display: flex;
    justify-content: center;
}

.user-input {
    margin-bottom: 10px;
    margin-top: 15px;
}

.error-msg {
    color: red;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    font-size: 20pt;
    display: none;
}
