<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap" rel="stylesheet">
    <title>Karten</title>
</head>
<body>
    <div class="hero">
        <div class="hero-img">
            <img src="../static/img/logo-shortened.png">
        </div>
        <div class="hero-txt">
            <p>Our solution to flashcards</p>
            <p>{{ message }}</p>
        </div>
        <div class="hero-btn">
            <a href="./login"><button class="primary-btn">Begin</button></a>
        </div>
    </div>
</body>
</html>