<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Karten - Login</title>
</head>
<body>
    <form action="" method="POST" class="login-form">
        {{ login_form.hidden_tag() }}

        <div class="log-sign-txt">
            <p>
                <b>Log in</b> <a href="/signup" class="grey-txt"> / Sign up</a>
            </p>
        </div>

        <div class="inputs">
            <div class="inputs-geschlechtswehrkehr">
                <div class="input-field user-input">
                    <div class="input-img user-img"><img src="../static/img/user.png"></div>
                    <div class="input-input user-input-field">
                        {{ login_form.username(class="form-control", id="user", placeholder="Username") }}
                    </div>
                    {% for error in login_form.username.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>

                <div class="input-field pwd-input">
                    <div class="input-img pwd-img"><img src="../static/img/pwd.png"></div>
                    <div class="input-input pwd-input-field">
                        {{ login_form.password(class="form-control", id="pwd", placeholder="Password") }}
                    </div>
                    {% for error in login_form.password.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="options">
            <div class="right">
                {{ login_form.submit(type="submit", class="btn btn-primary primary-btn", id="login-btn") }}
            </div>
            <p>OR</p>
            <div href="./sigma">
                <a class="google-cont">
                    <div class="google-cont-img">
                        <img src="../static/img/google.png">
                    </div>
                    <p class="google-cont-txt">
                        Continue with Google
                    </p>
                </a>
            </div>
        </div>

        <div class="error-msg">
            <p>Error: error message</p>
        </div>
    </form>

    <script src="../static/js/login.js"></script>
</body>
</html>
