<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Karten - Login</title>
</head>
<body>
    <div class="log-sign-txt">
        <p>
            <b>Log in</b> <span class="grey-txt"> / Sign up</span>
        </p>
    </div>
    <div class="input-field user-input">
        <div class="input-img user-img"><img src="../static/img/user.png"></div>
        <div class="input-input user-input-field"><input name="user" placeholder="Username" type="text"></div>
    </div>

    <div class="input-field pwd-input">
        <div class="input-img pwd-img"><img src="../static/img/pwd.png"></div>
        <div class="input-input pwd-input-field"><input name="pwd" placeholder="Password" type="password"></div>
    </div>

    <div class="options">
        <button type="submit">Log in</button>
        <p>OR</p>
        <a href="./sigma">
            <button class="google-cont">
                Continue with Google
            </button>
        </a>
    </div>
</body>
</html>