<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/signup.css">
    <title>Karten - Login</title>
</head>
<body>
    <form action="" method="post">
        {{ sign_up_form.hidden_tag() }}
        <div class="log-sign-txt">
            <p>
                <a href="/login" class="grey-txt">Log in / </a><b>Sign up</b>
            </p>
        </div>

        <div class="inputs">
            <div class="inputs-geschlechtswehrkehr">

                <p>
                    <div class="input-field user-input">
                        <div class="input-img user-img"><img src="../static/img/user.png"></div>
                        <div class="input-input user-input-field">
                            {{ sign_up_form.username(class="form-control", type="text", placeholder="Username") }}
                        </div>
                    </div>
                    {% for error in sign_up_form.username.errors %}
                        <div style="color:red" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>

                <p>
                    <div class="input-field pwd-input">
                        <div class="input-img pwd-img"><img src="../static/img/pwd.png"></div>
                        <div class="input-input pwd-input-field">
                            {{ sign_up_form.password(id="password", class="form-control", type="password", placeholder="Password") }}
                        </div>
                    </div>
                    {% for error in sign_up_form.password.errors %}
                        <div style="color:red" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>

                <p>
                    <div class="input-field pwd-conf-input">
                        <div class="input-img pwd-img"><img src="../static/img/pwd.png"></div>
                        <div class="input-input pwd-input-field">
                            {{ sign_up_form.repeat_password(id="repeat_password", class="form-control", type="password", placeholder="Confirm password") }}
                        </div>
                    </div>
                    {% for error in sign_up_form.repeat_password.errors %}
                        <div style="color:red" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>

            </div>
        </div>
        <div style="color:red" role="alert">{{ message }}</div>
        <div class="options">
            <p>{{ sign_up_form.submit(type="submit", class="primary-btn", id="login-btn") }}</p>
            <p>OR</p>
            <div href="./sigma">
                <a class="google-cont">
                    <div class="google-cont-img">
                        <img src="../static/img/google.png">
                    </div>
                    <p class="google-cont-txt">
                        Continue with Google
                    </p>
                </a>
            </div>
        </div>
        <div style="color:red">{% if current_user.is_authenticated %}{{ current_user.username }}{% endif %}</div>
    </form>
</body>

<script src="../static/js/signup.js"></script>
</html>